<header class='px-4 py-6'>
    <nav class='flex items-center justify-between p-4 text-white bg-gray-900 rounded-md shadow-md'>
        <h1 class='text-4xl font-bold uppercase'>
            <a href="{% url 'home' %}">Coffee Time</a>
        </h1>
        <ul class='flex gap-6 text-lg'>
            <li>
                <a class='hover:text-indigo-300' href="{% url 'feedback' %}">Post feedback</a>
            </li>
            <li>
                <a class='hover:text-indigo-300' href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <img width="30" height="30" src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" alt="user: ">
            </li>
            {{ user }}
        </ul>
    </nav>
</header>