{% extends 'theme/base_logged_in.html' %}

{% block content %}
    <div class="text-center" style="width: 100vw; position: absolute;left: 20%">
        <table style="font-size: x-large">
            <thead>
            <tr>
                <th style="padding: 0 5vw">Item</th>
                <th style="padding: 0 5vw">Price</th>
                <th style="padding: 0 5vw; width: 40vw">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td style="padding: 0 5vw">{{ order.item }}</td>
                    <td style="padding: 0 5vw">{{ order.price }}</td>
                    <td style="padding: 0 5vw; width: 40vw">{{ order.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}