{% extends 'theme/base_logged_in.html' %}
{% block content %}

    <div class='flex-container'>
        <div class='item'>
            <div class='bg-white rounded-md p-4'>
                <h3 class='text-4xl font-bold uppercase mb-4'>Drinks</h3>
                <ul class='space-y-2 divide-y divide-gray-200 w-50'>
                    {% for drink in shop.menu.drinks %}
                        <li class='flex justify-between items-center py-2'>
                            <p>{{ drink.name }}</p>
                            <div class="flex items-center  space-x-4">
                                <p>{{ drink.price }}</p>
                                <a href="" class='btn btn--primary'>Order</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>

        <div class="item">
            <div class='bg-white p-4 rounded-md'>

                <h3 class='text-4xl font-bold uppercase mb-4'>Snacks</h3>
                <ul class='space-y-2 divide-y divide-gray-200'>
                    {% for snack in shop.menu.snacks %}
                        <li class='flex justify-between items-center py-2'>
                            <p>{{ snack.name }}</p>
                            <div class="flex items-center  space-x-4">
                                <p>{{ snack.price }}</p>
                                <a href="" class='btn btn--primary'>Order</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}